<div class="container">
    <div class="row">
        <div class="col-md-12 normal">
            All Blogs
        </div>
    </div>
    <div class="row" *ngIf = "allBlogs.length >0">
        <div class="col-md-4" *ngFor="let blog of allBlogs">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title | uppercase}}</h5>
                    <p class="card-text">{{blog.description}}</p>
                    <a [routerLink]="['/blog',blog.blogId]" class="btn btn-primary">Read me</a>
                </div>
            </div>
        </div>
    </div>

</div>