<div class="container">
    <div style="text-align: center;">
        <h2 *ngIf="currentBlog">
            {{currentBlog.title |uppercase}}
        </h2>
        <p *ngIf="currentBlog.author!=undefined && currentBlog.author.length>0"> posted by {{currentBlog.author}} on
            {{currentBlog.created | date}} </p>
        <p *ngIf="currentBlog.tags!=undefined && currentBlog.tags.length>0"> Tags :<span
                *ngFor="let t of currentBlog.tags">
                {{t}}
            </span>

        </p>
    </div>
    <!-- tags -->
    <hr>

    <div style="text-align: center;">
        <p *ngIf="currentBlog">
            <div [innerHtml]="currentBlog.bodyHtml">

            </div>
            {{currentBlog.description}}
            <hr>
    </div>

    <div class="d-flex justify-content-between">
        <a type="button" [routerLink]="['/edit']" class="btn btn-outline-primary">Edit</a>
        <a type="button" (click)="deleteBl()" class="btn btn-outline-danger">Delete</a>
        <a type="button" (click)="goBack()" class="btn btn-outline-success">Go Back</a>
    </div>

</div>